src/main/resources/greet.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://flydubai.com/HelloSoap"
           targetNamespace="http://flydubai.com/HelloSoap" elementFormDefault="qualified">

    <xs:element name="HelloSoapRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clientName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="HelloSoapResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>